@{
    ViewData["Title"] = "Superconducting Rock Magnetometer Data Analysis";
}

<div class="text-center">
    <h1 class="display-4">SRM Dashboard</h1>
    <br>
    <br>
    <div>
        <iframe width="1140" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiOTdkMmYyM2EtNzMzOC00ZWFiLTg0YTEtMjk4MjEwZjVjMzUyIiwidCI6IjhhMmFmMDM1LTUwNWYtNDliZi05ZmU3LTkyMDE2NmFkMTY5YiJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
</div>
